<div class="container">
  <!-- <p>second-level works!</p> -->
  <div (click)="backClicked()" class="backButton">
    <mat-icon>keyboard_backspace</mat-icon>
  </div>
  <mat-card class="proteinCard">
    <mat-card-content class="proteinInfo">
      <div class="protein-info-wrapper">
        <h1 *ngIf="proteinData">Virtual screen {{proteinData.screen_id}} ({{proteinData.real_name}})</h1>
        <div class="protein-summary">
          <span *ngIf="proteinData && proteinData.calculations">Calculations: {{proteinData.calculations}}</span>
          <span *ngIf="proteinData && proteinData.compounds_with_docking_data">Compounds with docking data: {{proteinData.compounds_with_docking_data}}</span>
        </div>

        <div class="protein-controls-wrapper">
          <div class="protein-details">
            <div id="level-2-viewer" style="height: 300px; width: 300px; position: relative;"></div>
            <div class="protein-info">
              <div><strong>Protein index: </strong>{{proteinData.protein_index}}</div>
              <div><strong>Protein name: </strong>{{proteinData.real_name}}</div>
              <div><strong>Alternative protein names: </strong>{{proteinData.alternative_names}}</div>
              <div><strong>Target site: </strong>{{proteinData.target_site}}</div>
              <div><strong>Used structure: </strong>{{proteinData.used_structure}}</div>
              <div><strong>Compounds screened: </strong>{{proteinData.compounds_screened}}</div>
            </div >
          </div>

          <div class="slider-panel-wrapper">

            <div class="slider-container">
              <div class="slider-control">
                <span class="slider-label">Molecular Weight (MW):</span>
                <ng5-slider
                  [(value)]="filterValues.m_w.min"
                  [(highValue)]="filterValues.m_w.max"
                  [options]="MWSliderOptions"
                  (userChangeEnd)="applyFilter()"
                ></ng5-slider>
              </div>

              <div class="slider-control">
                <span class="slider-label">Partition Coefficient (SlogP):</span>
                <ng5-slider
                  [(value)]="filterValues.c_log_p.min"
                  [(highValue)]="filterValues.c_log_p.max"
                  [options]="SlogpSliderOptions"
                  (userChangeEnd)="applyFilter()"
                ></ng5-slider>
              </div>

              <div class="slider-control">
                <span class="slider-label">Topological Polar Surface Area (TPSA):</span>
                <ng5-slider
                  [(value)]="filterValues.t_psa.min"
                  [(highValue)]="filterValues.t_psa.max"
                  [options]="TPSASliderOptions"
                  (userChangeEnd)="applyFilter()"
                ></ng5-slider>
              </div>
            </div>

            <div class="slider-container">
              <div class="slider-control">
                <span class="slider-label">Hydrogen Bond Acceptors (HBA):</span>
                <ng5-slider
                  [(value)]="filterValues.h_acc.min"
                  [(highValue)]="filterValues.h_acc.max"
                  [options]="HBASliderOptions"
                  (userChangeEnd)="applyFilter()"
                ></ng5-slider>
              </div>

              <div class="slider-control">
                <span class="slider-label"># H-Donors (HBD):</span>
                <ng5-slider
                  [(value)]="filterValues.h_donors.min"
                  [(highValue)]="filterValues.h_donors.max"
                  [options]="HBDSliderOptions"
                  (userChangeEnd)="applyFilter()"
                ></ng5-slider>
              </div>

              <div class="slider-control">
                <span class="slider-label">Rotable Bonds (rotB):</span>
                <ng5-slider
                  [(value)]="filterValues.rotatable_bonds.min"
                  [(highValue)]="filterValues.rotatable_bonds.max"
                  [options]="rotBSliderOptions"
                  (userChangeEnd)="applyFilter()"
                ></ng5-slider>
              </div>
            </div>
          </div>
        </div>
        <!-- <button mat-raised-button color="primary">Download Structure</button> -->
      </div>
    </mat-card-content>
  </mat-card>

  <table
    mat-table
    #table
    [dataSource]="dataSource"
    class="compound-table mat-elevation-z8"
  >
  <!-- Position Column -->
  <ng-container matColumnDef="compound_source_id">
    <th mat-header-cell *matHeaderCellDef>Image</th>
    <!-- <div *ngIf="!compoundBlacklist.includes(element.compound_screening_id)"> -->
    <td
      mat-cell
      *matCellDef="let element"
    >
      <app-image [width]="180" [height]="180" [src]="'https://virtualflow-covid.hms.harvard.edu/Structures/'+proteinData.inter_screen_id+'/Ligands/png/'+element.compound_screening_id+'.png'">
      </app-image>
    </td>
  </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="compound_screening_id">
      <th mat-header-cell *matHeaderCellDef>Compound Identifier</th>
      <!-- <div *ngIf="!compoundBlacklist.includes(element.compound_screening_id)"> -->
      <td
        mat-cell
        *matCellDef="let element"
      >
        <!-- <div *ngIf="!compoundBlacklist.includes(element.compound_screening_id)"></div> -->
        {{ element.compound_screening_id }}
      </td>
      <!-- </div> -->
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="docking_score">
      <th mat-header-cell *matHeaderCellDef matSort>Top Scores</th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        {{ element.docking_score }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="m_w">
      <th mat-header-cell *matHeaderCellDef>Molecular Weight</th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        {{ element.m_w }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="c_log_p">
      <th mat-header-cell *matHeaderCellDef>cLogP</th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        {{ element.c_log_p }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="h_acc">
      <th mat-header-cell *matHeaderCellDef>h_acc</th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        {{ element.h_acc }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="h_donors">
      <th mat-header-cell *matHeaderCellDef>h_donors</th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        {{ element.h_donors }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="t_psa">
      <th mat-header-cell *matHeaderCellDef>tpsa</th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        {{ element.t_psa }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="rotatable_bonds">
      <th mat-header-cell *matHeaderCellDef>rotb</th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        {{ element.rotatable_bonds }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="clickedRow($event, row)"
    ></tr>
  </table>
  <mat-paginator
    [pageSize]="initPageSize"
    [pageSizeOptions]="[2, 10, 20, 50]"
  >
  </mat-paginator>
  <router-outlet></router-outlet>
</div>
