<div class="container">
    <!-- <p>second-level works!</p> -->
    <div (click)="backClicked()" class="backButton"></div>
    <div class="secondLevelHeaderName">{{secondLevelData.name}}</div>
    <mat-card class="proteinCard">
        <mat-card-header class="proteinInfoHeader">Protein Information</mat-card-header>
        <mat-card-content class="proteinInfo">
            <img [src]="secondLevelData.level2.level2_image" alt="">
            <div>
                Calculations: {{secondLevelData.level2.Calculations}}
                <br>
                Compounds with docking data: {{secondLevelData.level2.Compounds_with_docking_data}}
                <br>
                <button mat-raised-button color="primary">Download Structure</button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="dockedCard">
        <mat-card-header class="dockedInfoHeader">Docked Compounds</mat-card-header>
        <mat-card-content class="dockedInfo"></mat-card-content>
    </mat-card>
    <router-outlet></router-outlet>
</div>