.container {
  background-color: lightgray;
  z-index: 0;
  position: relative;
  background-color: purple;
}

.backButton {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}

.secondLevelHeaderName {
  font-size: 55px;
  margin-bottom: 25px;
}

.dockedCard {
  width: 90%;
  background-color: lightgray;
}

.dockedInfoHeader {
  height: 35px;
}

.dockedInfo {
  display: flex;
  flex-direction: row;
  height: 400px;
}

.proteinCard {
  margin-bottom: 10px;
  background-color: lightgrey;
}

.proteinInfoHeader {
  background-size: cover;
}

.proteinInfo {
  margin-top: 10px;
}

.compoundScroller {
  height: 100%;
  width: 100%;
  /* background-color: lightseagreen; */
  overflow: auto;
}

.compoundCard {
  height: 267px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 5px;
}

.compoundUnitFirstColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.compoundUnitLinkBlock {
  color: blue;
}

.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb-label-text {
  opacity: 1 !important;
}

.mat-slider-thumb-label {
  background: transparent !important;
}

.hide {
  display: none;
}

.compound-table {
  width: 100%;
}

.slider-container {
  min-width: 400px;
  width: 100%;
  margin-bottom: 20px;
}

.slider-panel-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.slider-control {
  height: 105px;
  padding-left: 20px;
  padding-right: 20px;
}

.slider-label {
  display: inline-block;
  padding: 10px;
  padding-left: 0;
}

@media screen and (max-width: 1000px) {
  .slider-panel-wrapper {
    flex-direction: column;
  }
}

#secondLevelViewport {
  min-width: 300px;
  height: 300px;
  margin: auto;
}

.protein-info-wrapper {
  margin-top: 32px !important;
}

.protein-summary span {
  display: block;
  margin-bottom: 5px;;
}

.protein-summary {
  margin-bottom: 10px;
}

.mat-row {
  cursor: pointer;
}
