.container {
  height: 100vh;
  width: 100vh;
  display: flex;
}

.secondContainer {
  display: flex;
}

.ligandViewer {
  height: 85%;
  width: 100%;
}

.viewerButtonBar {
  height: 50px;
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.viewerContainer {
  height: 700px;
  width: 800px;
}

.buttonBarButton {
    border-radius: 10px;
}

.sideButtonBar {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: grey;
  height: 700px;
  /* height: 400px; */
}










.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}
