.container {
    height: 100vh;
    width: 100vw;
    /* background-color: blue; */
    border: 5px;
    border-color: black;
    border-width: 10px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .level1Image {
    height: 300px;
    width: 300px;
    z-index: 1;
    border-radius: 25px;
    margin: auto;
  }
  
  .level1Unit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: grey;
    border-radius: 10px;
    margin-top: 20px;
    height: 350px;
    width: 350px;
  }
  