.compound-wrapper {
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  background: white;
}

.view-wrapper {
  width: calc(100% - 400px);
  position: absolute;
  height: 100%;
  z-index: 2;
}

.compound-details {
  position: absolute;
  right: 0px;
  width: 375px;
  z-index: 1;
}

.compound-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.compound-field span {
  overflow-wrap: anywhere;
  margin-left: 5px;
}

.compound-details h2 {
  margin-top: 0;
}

.back-button {
  cursor: pointer;
  padding: 10px;
  padding-left: 20px;
}
