<div class="container">
    <div (click)="backClicked()" class="backButton">
        <mat-icon>keyboard_backspace</mat-icon>
    </div>
    <div class="secondLevelHeaderName"></div>
    <mat-card class="compoundCard">
        <!-- <mat-card-header style="margin-bottom: 10px;">Compound Information</mat-card-header> -->
        <mat-card-content class="compoundInfo">
            <!-- <img [src]="thirdLevelData.compound_image" alt="" style="margin-right: 10px;"> -->
            <div style="display: flex;flex-direction: column;justify-content: space-between;">
                <span>
                    <strong>SMILES String:</strong> 
                    {{wholeData.objectOfInterest.SMILES}}
                </span>
                <br>
                <!-- <button mat-raised-button color="primary">Download Structure</button> -->
            </div>
        </mat-card-content>
    </mat-card>
    <div class="viewer" id="viewer"></div>


</div>