.container {
    background-color: lightgray;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    position: relative;
    /* width:50% */
    justify-content: center;
  }
  
  .backButton {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* float: left; */
    z-index: 2;
  }
  
  .secondLevelHeaderName {
    font-size: 55px;
    margin-bottom: 25px;
  }
  
  .dockedCard {
    width: 60%;
  }
  
  .dockedInfoHeader {
      height: 35px;
  }
  
  .dockedInfo {
    display: flex;
    flex-direction: row;
    height: 400px;
  }
  
  .proteinCard {
    width: 60%;
    /* padding: 0px; */
    /* border-radius: 20px; */
    margin-bottom: 10px;
  }
  
  .chemicalDescriptorsHeader {
    background-size: cover;

  }
  
  .descriptorCardInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .compoundScroller {
      height: 100%;
      width: 100%;
      /* background-color: lightseagreen; */
      overflow: auto;
  }
  
  .compoundCard {
      height: 267px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: lightgray;
      margin-bottom: 5px;
  }
  .compoundUnitRow {
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  
  .compoundUnitLinkBlock{
      color: blue;
  } 